* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #85c1e9, #d6eaf8); /* Sky gradient */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-right: 26%; /* Réserve de l'espace pour l'afficheur */
  box-sizing: border-box;
}

#conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/images/plateau-siam_x2_345x227_003.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#plateau {
  display: grid;
  grid-template-columns: repeat(5, 116px);
  gap: 5px;
}

#banc-elephants {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  min-height: 120px; /* Définit une hauteur minimale pour que le banc reste visible */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optionnel : bordure pour indiquer l'espace */
}

#banc-rhinoceros {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  min-height: 120px; /* Définit une hauteur minimale pour que le banc reste visible */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optionnel : bordure pour indiquer l'espace */
}

/* Style des cases (pour le banc et le plateau) */
.case {
  width: 116px;
  height: 116px;
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Ajoute une transition pour la rotation */
  transform-origin: center; /* Définit l'origine de la rotation au centre de la case */
}

.case:hover {
  background-color: lightblue;
  box-shadow: 0 0 2px #000000;
}

.controle {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.btn-orientation {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s;
}

.orientation {
  height: 25%;
  width: 30%;
}

.btn-orientation:hover {
  background-color: #ffa500;
}

.afficheur {
  position: absolute;
  top: 10px;
  right: 10px; /* Place le conteneur à droite */
  width: 25%;
  height: 80vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.384);
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.afficheur h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.afficheur ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.afficheur li {
  margin-bottom: 5px;
  font-size: 14px;
}

.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

/* Animation de poussée */
@keyframes push-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes push-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes push-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes push-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Classes pour animer les pièces */
.push-top {
  animation: push-top 0.5s ease-in-out;
}

.push-bottom {
  animation: push-bottom 0.5s ease-in-out;
}

.push-left {
  animation: push-left 0.5s ease-in-out;
}

.push-right {
  animation: push-right 0.5s ease-in-out;
}

.case-libre {
  border: 2px dashed green;
  background-color: rgba(4, 0, 255, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.case-libre:hover {
  background-color: rgba(4, 0, 255, 0.3);
  cursor: pointer;
}

.piece-selectable {
  margin: 5px;
  border: 1px solid blue;
  background-color: rgba(0, 17, 255, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel, pour un effet d'ombre */
}
.highlight {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
}
#joueur-actif {
  margin-bottom: 1vh;
  font-size: xx-large;
}
