* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #85c1e9, #d6eaf8);
  overflow: hidden;
}
#victory-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#victory-container > div {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.global-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.joueur-actif {
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-content {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  width: 20%;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/images/plateau-siam_x2_345x227_003.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#plateau {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 116px);
  gap: 5px;
}

#banc-elephants,
#banc-rhinoceros {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  min-height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.case {
  width: 116px;
  height: 116px;
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform-origin: center;
}

.case:hover {
  background-color: rgb(54, 124, 148);
  box-shadow: 0 0 2px #000000;
  cursor: pointer;
}

.controle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.btn-orientation {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  position: relative;
}
#btn-important-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

#controle-orientation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.btn-important {
  background: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.btn-important:hover {
  background-color: darkred;
  cursor: pointer;
}

.btn-orientation {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
}

.btn-orientation:hover {
  background-color: #ffa500;
}

.orientation {
  height: 25px;
  width: 25px;
}

.afficheur {
  height: 100%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.384);
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.afficheur h3 {
  margin: 0 0 10px;
  font-size: 16px;
}

.afficheur ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.afficheur li {
  margin-bottom: 5px;
  font-size: 14px;
}

.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

@keyframes push-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes push-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes push-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes push-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.push-top {
  animation: push-top 0.5s ease-in-out;
}

.push-bottom {
  animation: push-bottom 0.5s ease-in-out;
}

.push-left {
  animation: push-left 0.5s ease-in-out;
}

.push-right {
  animation: push-right 0.5s ease-in-out;
}

.case-libre {
  border: 2px dashed green;
  background-color: rgba(4, 0, 255, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.case-libre:hover {
  background-color: rgba(4, 0, 255, 0.3);
  cursor: pointer;
}

.piece-selectable {
  margin: 5px;
  border: 1px solid blue;
  background-color: rgba(0, 17, 255, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.highlight {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
  transition: background-color 0.3s ease, border 0.3s ease;
}
